.animation-left-transaction {
  background-color: white;
  margin-left: 3%;
  animation: 0.6s moverIzq 1;
  height: 95%;
}

@keyframes moverIzq {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  95% {
    margin-left: -100%;
    opacity: 0;
  }
}
