.animation-left-transaction {
  background-color: white;
  margin-left: 3%;
  animation: 0.6s moverIzq 1;
  height: 95%;
  width: 1110px;
  margin-right: 5%;
  flex: 1;
  position: relative;
}
.Test-Animacion{
  display: flex;
  overflow-x: hidden;

}
.asd{
  position: relative;
}
.modal-transaction-scroll{
  width: 1110px;
}
@keyframes moverIzq {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  95% {
    margin-left: -100%;
    opacity: 0;
  }
}
