

.form{
  margin-left: auto;
  margin-right: auto;
 position: relative;
}
.logo{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.555555555555555vh;
  //margin-top: 25.833333333333332vh;
  width: 208px;
  height: 5.833333333333333vh;
}

.input{
  width: 28.177vw ;
  border: rgba(20, 90, 153, 0);
  border-bottom: 1px solid #4D4D4D;
  outline: none;
  margin-bottom: 3px;
  /* margin-bottom: 5px; */
}

.separador{
height: 3.888888888888889vh;
width: 28.177vw ;
display: inline-block;
}



.inputError{
width: 28.177vw ;
border: rgba(153, 24, 20, 0);
color: #FF1515;
border-bottom: 1px solid #e00404;
margin-bottom: 5px;
}
.inputError::placeholder{
color: #FF1515;
}



.forgotPass{
color: #4D4D4D;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
padding-bottom: 10px;

}

.button_ {
background-color: rgba(20, 90, 153, 1);
border-radius: 50px;
width: 233px;
height: 50px;
background: #145a99;
color: white;
border: 4px solid #145a99;
box-sizing: border-box;
font-family: 'Mulish';
font-weight: 800;
font-size: 18px;
text-align: center;
align-items: center;
vertical-align: middle;
padding: .375rem .75rem;
line-height: 1.5;
}




.buttonContainer{
  width: 233px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  margin-bottom: 10px;
}



.errorsContainer{
  display: flex;
}


.errors{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  top: -2.962962962962963vh;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  color: #FF1515;
}

.correcion{
  display: inline;
  margin-left: 200px;
}



.flotar {
  position: absolute;
  margin-left: 8%;
 }
.size{
  width: 50%;
  height: 8.888888888888888vh;
}
.myresolution{
position: absolute;
z-index: -1;
height: 53.9vh;
}

.contenedor{
width: 233px;
height: 50px;
margin-left: auto;
margin-right: auto;
}

.login-init{
position: relative;
z-index: 10;
font-family: 'Mulish';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
}
.z-index{
z-index: -1;
}
.animation{
width: 245px;
height: 57px;
margin-right: 12px;
}

.label{
position: absolute;
margin-top: 0px;
left: 0;
font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 21px;
color: #4D4D4D;
width: 31vw;
transform-origin: 0 0;
transition: transform 0.2s ease-in-out;
padding-right: 32.086vw;
}
.labelError{
color: #FF1515;
}


.animationTop{
transform: translateY(-0.8em) scale(0.8);
}
.animationOrigin{
transform: translateY(0em) scale(1);
}

.inputReboteAnimation{
  -webkit-animation: inputRebote .25s linear;
  animation: inputRebote .25s linear;
}
.button-modal-error2{
  background: #EB5757;
  border-radius: 50px;
  width: 219px;
  height: 50px;
  margin-left: 266px;
  text-decoration: none;
  border-color: #FFFFFF;
  border-width: 0px;
  margin-top: 0px;
  color: #FFFFFF;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}
.contendor-modal-login{
  background: rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  width: 99.9vw;
  height: 99.9vh;
  top: 0;
  left: 0;
  position: absolute;
}
.space-responsive-login{
  height: 20vh;
}
/***************************animacion inputs***************************/
@keyframes inputRebote {
    0% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    25% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    50% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    75% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    100% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);

    }
}

/***************************media query*********************/


@media (min-height: 800px){
  .space-responsive-login{
    height:20vh;
  }
}
@media (min-height: 850px){
  .space-responsive-login{
    height:20.1vh;
  }
  .input{
    margin-left: 9px;
  }
  .errors{
    margin-left: 12px;
  }
  .label{
    margin-left: 12px;
    }
  
}

@media (min-height: 990px){
  .space-responsive-login{
    height:20.2vh;
  }
}

