

.containerPrincipal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
  margin-top: 20px;
}

.form{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 8vh;
    width: 208px;
    height: 63px;
}

.input{
    width: 28%;
    border: rgba(20, 90, 153, 0);
    border-bottom: 1px solid #4D4D4D;
    outline: none;
}

.inputError{
  width: 28%;
  border: rgba(153, 24, 20, 0);
  color: #FF1515;
  border-bottom: 1px solid #e00404;

}



.containerSecundario {
  text-align: center;
}

.forgotPass{
    color: #4D4D4D;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
margin-bottom: 10px;
}

.button_ {
  background-color: rgba(20, 90, 153, 1);
  border-radius: 50px;
  width: 233px;
  height: 50px;
  background: #145a99;
  color: white;
  border: 4px solid #145a99;
  box-sizing: border-box;
  font-family: 'Mulish';
  font-weight: 800;
  font-size: 18px;
  
}


  .errorsContainer{
    width: 352px;
    margin-right: auto;
    margin-left: auto;
    
  }


  .errors{
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
position: relative;
color: #FF1515;
  }


  .buttonContainer{
    width: 233px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
  }
  

  .miResolucion{
    height: 50vh;
  }

  .contenedor-imagen{
    padding-top: 17vh;
  }

  
  .arriba{
    height: 50vh;
  }
  .arriba2{
    height: 40vh;
  }
 
 

  .correcion{
    height: 52vh;
  }
 