.white-background {
  background-color: #f5f5f5;
  min-height: 100%;
  position: fixed;
  min-width: 100%;
}

.form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 541px;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12.4vh;
  //margin-top: 25.833333333333332vh;
  width: 208px;
  height: 5.833333333333333vh;
}

.input {
  width: 541px;
  border: rgba(20, 90, 153, 0);
  border-bottom: 1px solid #4d4d4d;
  outline: none;
  margin-bottom: 52px;
  z-index: 3;
  /* margin-bottom: 5px; */
}

.separador {
  height: 3.888888888888889vh;
  width: 28.177vw;
  display: inline-block;
}

.password-login {
  display: flex;
  position: relative;
  margin-top: 4px;
}

.inputError {
  width: 541px;
  border: rgba(153, 24, 20, 0);
  color: #ff1515 !important;
  border-bottom: 1px solid #ff1515 !important;
  z-index: 3;
}
.inputError::placeholder {
  color: #ff1515;
}

.login-pass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  position: absolute;
}

.forgotPass {
  margin-top: 30px;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.button_ {
  background-color: rgba(20, 90, 153, 1);
  border-radius: 50px;
  width: 233px;
  height: 50px;
  background: #145a99;
  color: white;
  border: 4px solid #145a99;
  box-sizing: border-box;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
}

.buttonContainer {
  width: 233px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  margin-bottom: 10px;
}

.has-error > div input {
  color: #ff1515;
  border-bottom: 1px solid #ff1515;
}
.has-error > label {
  color: #ff1515;
}
.errorsContainer {
  position: absolute;
  top: 0;
  margin-top: 30px;
}
.input-errors-container {
  margin-top: -20px;
}
.errorsContainer2 {
  top: 0;
  margin-top: -38px;
}

.errors {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  color: #ff1515;
  top: -5px;
}

.correcion {
  display: inline;
  margin-left: 200px;
}

.flotar {
  position: absolute;
  margin-left: 8%;
}

.myresolution {
  position: absolute;
  z-index: -1;
  height: 44.6vh;
}

.contenedor {
  width: 233px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
}

.login-init {
  position: relative;
  z-index: 10;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
.z-index {
  z-index: -1;
}

.label {
  position: absolute;
  margin-top: 0px;
  left: 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: #4d4d4d;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
  display: inline;
  cursor: text;
}
.labelError {
  color: #ff1515;
}



.inputReboteAnimation {
  -webkit-animation: inputRebote 0.25s linear;
  animation: inputRebote 0.25s linear;
}
.button-modal-error2 {
  background: #eb5757;
  border-radius: 50px;
  width: 219px;
  height: 50px;
  margin-left: 266px;
  text-decoration: none;
  border-color: #ffffff;
  border-width: 0px;
  margin-top: 0px;
  color: #ffffff;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}
.contendor-modal-login {
  background: rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  width: 99.9vw;
  height: 99.9vh;
  top: 0;
  left: 0;
  position: absolute;
}
.space-responsive-login {
  height: 9.8vh;
}
/***************************animacion inputs***************************/
@keyframes inputRebote {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  25% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  75% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

/***************************media query*********************/
@media (min-width: 1800px) {
  .space-responsive-login {
    height: 18vh;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.4vh;
    width: 208px;
    height: 5.833333333333333vh;
  }
  .centrar {
    height: 18.7vh;
  }
}

@media (min-width: 1300px) {
  .size {
    height: 24vh;
  }
}
.myresolution {
  position: absolute;
  z-index: -1;
  height: 48vh;
  width: 100%;
}

@media (min-width: 1200px) {
  .size {
    height: 24vh;
  }
}

/*******************************new login*********************************/

.background-login {
  background-color: #f5f5f5;
  height: 100vh;
}
.login-img-container {
  height: 25%;
}
.pickersLogo_login {
  display: block;
  padding-top: 11vh;
  width: 246px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.login-form {
  width: 541px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;

  div{
    z-index: 2;
    input{
      position: relative;
      z-index: 2;
    }
    label{
      z-index: 3;
    }
  }
  
}


.login-button {
  background-color: rgba(20, 90, 153, 1);
  border-radius: 50px;
  width: 233px;
  height: 50px;
  background: #145a99;
  color: white;
  border: 4px solid #145a99;
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  display: block;
}

.login-img-footer {
  position: absolute;
  bottom: -0.49px;
  width: 100%;
  z-index: 0;
}
.container-login-a {
  cursor: pointer;
  margin-top: 24px;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #4d4d4d;
  }
}
.Admin-Pickers-input-login{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.005em;
  color: #101820;
  border: 0;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #828282;
  /* margin-bottom: 30px; */
  width: 100%;
  cursor: text;
}

.label-Admin-Pickers.label-login{
   font-family: "Mulish";
   font-style: normal;
   font-weight: 300;
   transform-origin: 0 0;
   position: absolute;
   transition: transform 0.2s ease-in-out;
   font-size: 17px;
}
.label-login.animationTop {
  transform: translateY(-0.8em);
   font-size: 15px ;
}
.animationOrigin {
  transform: translateY(0em);

}



.container-animation{
  position: relative;
  width: 233px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.shineBorder-login  {
  width: 233px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

}

.shineBorder-login::after {
  margin-left: auto;
  margin-right: auto;
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 0px;
  width: 235px;
  height: 50px;
  background: #06D0FF;
  z-index: 4;
  border-top-left-radius: 40px; 
  border-bottom-left-radius: 40px;  
  animation: animate-shineBorder-login 18s ease-out ;             
}

@keyframes animate-shineBorder-login {
  0% {
    
    opacity: 1;
    width: 9%;
   }
 
  10% {opacity: 1; }

 

  95% {opacity: 1; width: 90%;}
}
