

.form{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 17vh;
    width: 208px;
    height: 63px;
}

.input{
    width: 115%;
    border: rgba(20, 90, 153, 0);
    border-bottom: 1px solid #4D4D4D;
    outline: none;
    margin-bottom: 5px;
}

.inputError{
  width: 115%;
  border: rgba(153, 24, 20, 0);
  color: #FF1515;
  border-bottom: 1px solid #e00404;

}
.inputError::placeholder{
  color: #FF1515;
}



  .forgotPass{
  color: #4D4D4D;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
}

.button_ {
  background-color: rgba(20, 90, 153, 1);
  border-radius: 50px;
  width: 233px;
  height: 50px;
  background: #145a99;
  color: white;
  border: 4px solid #145a99;
  box-sizing: border-box;
  font-family: 'Mulish';
  font-weight: 800;
  font-size: 18px;
  
  
}




  .buttonContainer{
    width: 233px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    margin-bottom: 10px;
  }
  

  
  .errorsContainer{
    display: flex;
  }


  .errors{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    color: #FF1515;
  }

  .correcion{
    display: inline;
    margin-left: 200px;
  }

 

.flotar {
    position: absolute;
    margin-left: 8%;
   }
.size{
    width: 50%;
    height: 146px;
}
.myresolution{
  position: absolute;
  z-index: -1;
}

.contenedor{
  width: 233px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.login-init{
  position: relative;
  z-index: 10;
  margin-top: 0.2rem;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.z-index{
  z-index: -1;
}
/***************Hacerlo responsive para diferentes monitores*****************/

@media (max-width: 900px) { 
  
  .myresolution{
    position: absolute;
    z-index: -1;
    height: 50vh;
  }

 }

@media (min-height: 720px) { 
  
  .myresolution{
    position: absolute;
    z-index: -1;
    height: 48vh;
  }
  .size{
    width: 50%;
    height: 153px;
  }

 }
 @media (min-height: 768px) { 
  
  .myresolution{
    position: absolute;
    z-index: -1;
    height: 50vh;
  }
  .size{
    width: 50%;
    height: 148px;
}

 }
 @media (min-height: 900px) { 
  
  .myresolution{
    position: absolute;
    z-index: -1;
    height: 50vh;
  }
  .size{
    width: 50%;
    height: 191px;
  }

 }

 

 @media (min-width: 1680px) { 
  
  .myresolution{
    position: absolute;
    z-index: -1;
    height: 54vh;
  }
  .size{
    width: 50%;
    height: 191px;
  }

 }

 @media (min-width: 1920px) { 
  
  .myresolution{
    position: absolute;
    z-index: -1;
    height: 56vh;
  }
  .size{
    width: 50%;
    height: 202px;
  }

 }

 

