.pending-container{
    margin-left: 20.059vw;
    width: 78vw;
    margin-top: 7.291666666666667vh;
}
.subTitle-pending{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #101820;
    /* margin-top: 5vh; */
    max-width: 370px;
}
.display-inline-block{
    display: inline-block;
}
.export{
    box-sizing: border-box;
    border-radius: 50px;
    border: 2.5px solid #0098FF;
    width: 163px;
    height: 50px;
    background-color: white;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.p-export{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #2D2D2D;
    padding-left: 0.8rem;
}
.or-pending{
    margin-left: 0.5rem;
}
.option{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    border-radius: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.option2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #828282;
    border-radius: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.optionHover{
    background-color: #95E1BF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    width: 90%;
}
.subtitle-pendingUser-h2{
    width: 40vw;
}

.paginator-button{
    position: relative;
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    width: 100%;
    color:#0098FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 43px;
    margin-bottom: 20px;
    font-family: 'Mulish';
    font-weight: 700;
    cursor: pointer;
}

.paginator-button-disabled{
    position: relative;
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    width: 100%;
    color:rgba(189, 189, 189, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 43px;
    margin-bottom: 20px;
    font-family: 'Mulish';
    font-weight: 700;
}


 @media (max-width: 1300px) { 
  
    .pending-container{
        margin-left: 21.059vw;
        width: 77vw;
    }

}
@media (min-width:1800px){
    .pending-container{
        margin-left: 14.2vw;
        width: 84.323vw;
        margin-right: 0vw;
    }
}

