@import "@pickit/pickit-grid-system";

.container-transaction {
  @include container(3, 25px);
}




.display-filter-transaction{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 16px;
    padding: 30px 30px 5px;
}
.label-filter-transaction{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    margin-left: 10px;
    color: #4D4D4D;
    margin-bottom: 0;
}
.label-filter-transaction-alert {
    position: relative;
    bottom: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.0025em;
    color: #4D4D4D;
    cursor: pointer;
    padding-left: 10px;
}

@-moz-document url-prefix() { 
    .label-filter-transaction-alert {
        position: relative;
        bottom: 3px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.0025em;
        color: #4D4D4D;
    }
}

.filter-Imagen-width{
    display: flex;
}
//.filter-container{
//    display: flex;
//}
.p-filter-transaction{
    display: inline-block;
    margin-left: 11px;
    margin-top: -2px;
    cursor: default;
    font-family: 'Mulish';
}
.img-filter-transaction{
    width: 24px;
    height: 22px;
    cursor: default;
}
.img-transaction{
    width: 24px;
    height: 22px;
}
.filter-cursor{
    cursor: default;
}
.form-filter-transaction{
    display: flex;
    flex-wrap: wrap;
}
.sub-container{
    form div {
        max-width: 100%;
    }
    padding: 0;
}
//.form-filter-transaction div div input{
//    border: 0;
//    border-bottom:1px solid #828282;
//    //width: 278px ;
//    //margin-right: 26px;
//    outline: none;
//    margin-bottom: 25px;
//    font-family: 'Mulish';
//    font-style: normal;
//    font-weight: normal;
//    font-size: 17px;
//    line-height: 26px;
//    letter-spacing: 0px;
//    color: black;
//
//}
.datePicker-filter-transaction div input{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    //margin-right: 26px;
    font-size: 17px;
    padding-bottom: 0;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #101820;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom:  1px solid #828282;
    //margin-bottom: 3.515625vh;
    width: 100%;
    cursor: pointer;
}

#datePicker-filter-transaction div svg{
    position: absolute;
    top: 5px;
    right: 0px;

    path{
        fill: #101820;
    }
}


.checkbox-filter-transaction{
    height: 20px;
    width: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.checkbox-filter-transaction:checked{
     -webkit-appearance: none;
     background-image: url("../../../assets/checkbox.svg");
     outline: none;
}
.display-inline{
    display: inline-block;
    margin-left: 10px;
    width: 18.155vw;
    margin-right: 26px;
}
.search-button-transaction{
    box-sizing: border-box;
    border-radius: 50px;
    border: 2.5px solid #0098FF;
    width: 154px;
    height: 50px;
    //padding-top: 5px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    //margin-top: 10px;
    //margin-left: 7.5vw;
    //margin-right: 26px;

}

.float-end {
    display: flex;
    justify-content: flex-end;
}
    #padding{
        padding-top: 27px;
}


/*** date picker**/


// .jmTwmD2atSGINRKpFp1HX{
//     font-family: "Mulish";
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 20px;
//     color: #2D2D2D;
// }
// ._1xZFXcDVmGL_Loq5wOIwEe{
//     font-family: "Mulish";
//     font-style: normal;
//     font-weight: bold;
//     font-size: 16px;
//     line-height: 20px;
//     text-align: center;
//     color: #4D4D4D;
// }



._28B9K2Lp5eIqcQvEtU2fqv ._3K93wLekMhMl4y3GU3bWxo{
    z-index: 0;
}
.datePicker-filter-transaction div input{
    z-index: 10 !important;
    position: relative;
}
#datePicker-filter-transaction div svg{
    z-index: 11 !important;
}


.kfsr3-1wGDb31hi10DLi7{
    background-color: white;
}

// placeholder
.theme-default ._3K93wLekMhMl4y3GU3bWxo{
    color: #BDBDBD !important;
    background-color: transparent;
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal !important;
    font-size: 17px !important;
    line-height: 27px !important;
    letter-spacing: 0.005em;
    position: relative;
}

// Day
.theme-default ._2Vkl-VdhzFTlAFgu4i0gR2 span{
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}

// From
.theme-default span.MKjsMK9DPt5gO-irDsCHa {
    background: #0098FF !important; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white !important;
    font-weight: bold !important;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

// Range
.theme-default span._1E-C-xua7BZJ8JvEl62fYt{
    background: #E8F6FD;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}

// To
.theme-default span._1bpEiR6zdbhp8U0YrJ6U4i{
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold !important;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF !important;
    background: #0098FF !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}


@media (max-width:1310px){
    .display-inline{
        width: 17.155vw;
    }
}
@media (min-width:1800px){
    .checkbox-filter-transaction{
        margin-top: 14px;
    }
    .label-filter-transaction-alert{
        bottom: 3px;
    }
    @-moz-document url-prefix() { 
        .label-filter-transaction-alert {
            bottom: 1px;
        }
    }
    .display-inline{
        width: 3.5vw;
    }
    #padding{
        padding-top: 15px;
    }
}
@media (min-width: 1300px) {
    .display-filter-transaction{
        max-width: 100%;
    }
}