registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@pickit:registry=https://nexus.pickit.net/repository/npm-group/
email=javaca@pickit.net
always-auth=true
_auth=cmVhZC1vbmx5OkJqVndoU1BVNDRrZ0p0UXA=