.mainContainerFlex-transaction{
    display: flex;
    margin-top: 6.380208333333334vh;
    justify-content: space-between;
}
.paginator-button-transaction{
    position: relative;
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    width: 100%;
    color: #0098FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 43px;
    margin-bottom: 20px;
    font-family: 'Mulish';
    font-weight: 700;
    border-top: none;
    
}
.transaction-container{
    margin-left: 19.059vw;
    margin-right: 1.977vw;
    width: 78vw;
    margin-top: 0vh;
    
}
.subTitle-transaction{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #101820;
    margin-top:0vh;
    width: 250px;
    max-width: 250px;
}
.export-transaction{
    box-sizing: border-box;
    border-radius: 50px;
    border: 2.5px solid #0098FF;
    width: 163px;
    height: 50px;
    background-color: white;
    margin-top: 0vh;
}
.modal-transaction{
    background: rgba(45, 45, 45, 0.25);
    mix-blend-mode: multiply;
    width: 98.7vw;
    height: 200vh;
    top: 0;
    left: 0;
    position: absolute;
}
.modal-transaction-title{
    display: flex;
}
.modal-transaction-title h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    color: #BDBDBD;
    width: 30vw;
}
.modal-transaction-title p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.0125em;
    color: #4D4D4D;
    width: 30vw;
    padding-left: 6.1vw;
}
.modal-transaction-title .modal-transaction-fecha{
    padding-left: 13.8vw;
}
.modal-transaction-subtitle .modal-transaction-fecha{
    padding-left: 13.8vw;
}
.modal-transaction-subtitle{
    display: flex;
}
.modal-transaction-subtitle h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    color: #0098FF;
    width: 30vw;
}
.modal-transaction-subtitle p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
    width: 30vw;
    padding-left: 6.1vw;
}


.modal-transaction-separate{
    border: 1px solid #BDBDBD;
    margin-top: 0px;
    width: 97.5%;
}
._3G24_nB5gK6geBR6bQ0SZx{
    background-color: white;
}
._3W6ZHoAki_sgbIh3Yq60-a{
    z-index: 15 !important;
    height: 90.125vh !important;
}
.modal-transaction-container{
    width: 94%;
    margin-left: 3%;
    margin-top: 1.2552083333333335vh;
}

.modal-transaction-cancel{
    background: #BDBDBD;
    border: 4px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 50px;
    width: 176px;
    height: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.modal-transaction-finish{
    background: #0098FF;
    border: 4px solid #0098FF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 176px;
    height: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 0.952vw;
}
.modal-transaction-buttons-submit{
    display: flex;
    margin-left: 30.234vw;
    margin-top: 0.85104166666667vh;
}

.modal-transaction-reload {
    display: flex;
    margin-left: 14.277vw;
}
.modal-transaction-reload p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #145A99;
    margin-left: 0.512vw;
    margin-top: 0.952vw;
}
.modal-transaction-close{
    margin-left: 81vw;
    cursor: pointer;
}
.flexItems{
    display: flex;
}
.paginator-button-transaction-noResult{
    position: relative;
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 74px;
    margin-bottom: 20px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #828282;
}


