.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.icon {
  height: 15px;
  width: 23px;
}

.text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: #145A99;  
}