.pdf-container{
    // width: 400px;
    // height: 400px;

}

.rpv-default-layout__toolbar{
    // display: none;
}

.rpv-default-layout__sidebar--ltr{
    
        // display: none;
    
} 

iframe{
    height: 800px;
    width: 800px;

    
}
#toolbar{
    color: red !important;
}