.vehiculo-pending-picker{
    display: inline-block;
    /* margin-top: 1vh; */
    padding-left: 20px;
}
.form-Admin-Pickers{
    display: flex;
    background: #aca5a5;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    margin-top: 3vh;
}

.Admin-Pickers-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.label-Admin-Pickers{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    width: 23vw;
}
.Admin-Pickers-input{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #101820;
    border: 0;
    outline: none;
    border-bottom:  1px solid #828282;
    margin-bottom: 3.515625vh;
    width: 23vw;
}

.Admin-Pickers-button{
    box-sizing: border-box;
    border-radius: 50px;
    border: 2.5px solid #0098FF;
    width: 163px;
    height: 50px;
    background-color: white;
    text-align: center;
    margin-top: 3.2552083333333335vh;
    margin-left: 44vw;

}
.Admin-Pickers-space{
    margin-left: 20px;
    width: 23vw;
}

.option{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    border-radius: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.optionHover{
    background-color: #95E1BF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    width: 90%;
}
.form-part-1-admin-pickers{
    background-color: white;
    display: flex;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 3vh;
    flex-wrap: wrap;
    width: 100%;
}

.subTitle-pending-data{
    margin-top: 2rem;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #2D2D2D;
}

.separacion{
    margin-top: 60px;
}

.pending-admin-picker-button{
    margin-top: 50px;
    margin-left: 25%;
    margin-bottom: 100px;
    width: 100%;
    
}
.label-width{
    width: 30vw;
}
.corregir-admin-picker{
    border: 2.5px solid #0098FF;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #101820;
    width: 217px;
    height: 50px;
    background-color: white;
}

.aprobar-admin-picker{
    margin-left: 20px;
    width: 191px;
    height: 50px;
    background: #BDBDBD;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
    border: none;
}
.aprobar-admin-picker-active{
    margin-left: 20px;
    width: 191px;
    height: 50px;
    background: #0098FF;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
    border: none;
}
.aprobar-admin-picker-disable{
    margin-left: 20px;
    width: 191px;
    height: 50px;
    background: #BDBDBD;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
    border: none;
}
.aprobar-admin-picker-habilitado{
    margin-left: 20px;
    width: 191px;
    height: 50px;
    background: #0098FF;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
}
.Admin-Pickers-input-clear{
    display: none;
}
.mainContainerFlex{
    display: flex;
}
.subTitle-pending-picker{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #101820;
    /* margin-top: 5vh; */
    max-width: 800px;
}

.contendor-modal-pending-pickers-aprobar{
    background: rgba(0, 0, 0, 0.25);
    mix-blend-mode: multiply;
    width: 98.7vw;
    height: 200vh;
    top: 0;
    left: 0;
    position: absolute;
}
.button-modal-revisar{
    background: white;
    border-radius: 50px;
    width: 219px;
    height: 50px;
    margin-left: 0px;
    text-decoration: none;
    border-color: #00B2E3;
    border-width: 0px;
    margin-top: 26px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #101820;
    border: 2.5px solid #0098FF;
    box-sizing: border-box;
    border-radius: 50px;

  }
  .button-modal-aprobar{
    background: #0098FF;
    border-radius: 50px;
    width: 219px;
    height: 50px;
    margin-left: 0px;
    text-decoration: none;
    border-color: #FFFFFF;
    border-width: 0px;
    margin-top: 26px;
    color: #FFFFFF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
  }
  .button-modal-aprobar-exito{
  
        background: #6FCF97;
        border-radius: 50px;
        width: 219px;
        height: 50px;
        margin-left: 0px;
        text-decoration: none;
        border-color: #FFFFFF;
        border-width: 0px;
        margin-top: 26px;
        color: #FFFFFF;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        text-align: center;
}
  .corregir-admin-picker-disable{
    border: 2.5px solid #BDBDBD;
    box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #BDBDBD;
    width: 217px;
    height: 50px;
}
.modal-error-title2{
    background: #00B2E3;
    border-radius: 25px 25px 0px 0px;
    height: 137px;
  }
  .modal-error-subtitle{
    background: #FFFFFF;
    height: 214px;
    border-radius: 0px 0px 25px 25px;
   }
.button-pending-picker-modal{
   display: flex;
   justify-content: space-evenly;
}
._1kzUAYPdJF41Om61WDkaoa{
    height: 500px !important;
}

.p-modal-pending-subtitle{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #101820;
    padding-top: 51px;
    margin-left: 94px;
    margin-right: 94px;
}

@media (min-width: 1700px) { 

    .Admin-Pickers-button{
        margin-left: 53vw;
    }
 }
