.button{
    background: #145A99;
    border: 2px solid #145A99;
    box-sizing: border-box;
    border-radius: 104.118px;
    color: white;
    position: absolute;
    left: 43.96%;
    right: 43.91%;
    top: 51.6%;
    bottom: 43.58%;
    width: 300px;
}



/****Animacion bien**/

  

  
 
