.button_ {
    background-color: rgba(20, 90, 153, 1);
    border-radius: 50px;
    width: 233px;
    height: 50px;
    background: #145a99;
    color: white;
    border: 4px solid #145a99;
    box-sizing: border-box;
  }
    /**** GRADIENTS ****/
    .blue {
      transition: color 0.8s linear 0.2s;
    }
    


    .shineBorder  {
      position: absolute;
    }
    
    .shineBorder::after {
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50px;
      margin-top: 45px;
      width: 233px;
      height: 55px;
      background: #06D0FF;
      
      animation: animate-shineBorder 18s ease-out infinite;             
    }
    
    @keyframes animate-shineBorder {
      0% {opacity: .7; width: 0%;}
      50% {opacity: .4s;}
      95% {opacity: 1; width: 95%;}
    }

  
 
