.mainContainerFlex{
    display: flex;
    margin-top: 6.380208333333334vh;
}
.background-Grey{
    position: absolute;
    background-color: #FAFAFA;
    min-height: 100%;
    min-width: 100%;
}
.title_Dashboard_Admin{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #0098FF;
    text-align: center;
    z-index: 10;
}
.subtitle_Dashboard_Admin{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    color: #101820;
    text-align: center;
    z-index: 10;
}
.card-admin{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    margin-left: 1.4vw;
}
.card-body-admin{
    width: 38vw;
    height: 25vh;
    margin-bottom: 2vh;
    margin-left: 1.5vw;
    border-radius: 10px;
    display: flex;
    z-index: 10;
}
.Admin-container{
    width: 100%;
    z-index: 10;
    margin-left: 17.082vw;
    padding-top: 7.8125vh;
}

.admin-black{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #2D2D2D;
    z-index: 10;
}
.number-admin{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100px;
    text-align: right;
    color: #2D2D2D;
    z-index: 10;
}
.part-1{
    margin-left: 5.1%;
    width: 450px;
    margin-top:auto;
    margin-bottom: auto;
    z-index: 10;
}
.part-2{
    margin-top: auto;
    margin-bottom: auto;
    
   // width: 10%;
   margin-right: 40px;
    z-index: 10;
    margin-right: 30px;
}

.paragraph-admin-card{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 8px;
    z-index: 10;
    margin-bottom: 10px;
}
#dashboard-card-pending-Assignment  div .admin-black{
    width: 140px;
}
#dashboard-card-Online{
    cursor: default;
}


._97HeZ1z-bCxJgRNi-TY8d{
    border-radius: 25px !important;
}

.modalLoading {
    backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background:  rgba(255, 255, 255, 0.4) url("../../assets/canguro-pickers.gif") 50% 50% no-repeat;
}

@media (max-width : 1300px){

    .card-admin{
        margin-left: 2.4vw;
    }
}

@media (min-width:1800px){
    .Admin-container{
        margin-left: 11.2vw;
    }
    .card-body-admin{
        width: 527px;
        height: 192px;
        margin-left: 1.1vw;
    }
    .card-admin{
        margin-left: 310px;
    }
    .title_Dashboard_Admin{
        margin-top: 70px;
        margin-bottom: 0px;
    }
    .subtitle_Dashboard_Admin{
        margin-bottom: 73px;
    }
    .part-1{
        
    }
    .part-2{
        
    }
}