
.modal-dni-finish-button{
    background: #BDBDBD;
    border: 4px solid #BDBDBD;
    box-sizing: border-box;
    width: 176px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 84px;
    margin-left: 20px;
}

.modal-dni-finish-button-active{
    background: #0098FF;
    border: 4px solid #0098FF;;
    box-sizing: border-box;
    width: 176px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 84px;
    margin-left: 20px;
}
.modal-dni-finish-h3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #101820;
    margin-top: 20px;
    margin-bottom: 37px;
}
.modal-dni-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 1118px;
}
.modal-dni-finish-card{
    position: relative;
    margin-top: -10px;
}
.modal-transaction-finish-volver-img{
    margin-top: 16px;
    cursor: pointer;
}
.filter-transaction-dnifinish-div-label{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    color: #4D4D4D;
}
 #labelError-transaction{
    color: red; 
 }
@media (max-width:1310px){
    .modal-dni-finish-card{
        margin-top: 15px;
    }
    .modal-dni-finish-h3{
        margin-top: 34px;
        margin-bottom: 47px;
    }
    .modal-dni-finish-button{
        margin-top: 14px;
    }
    .modal-dni-finish-button-active{
        margin-top: 14px;
    }
   
    
}
@media (min-width:1800px){
    .modal-dni-finish-card{
        margin-top: 54px;
    }
    .modal-dni-finish-button{
        margin-top: 139px;
    }
    .modal-dni-finish-button-active{
        margin-top: 139px;
    }
}