p{
  margin-bottom: 0px;
}

.display-flex{
  display: flex;
}






/******************CSS RESTORE******************/
.ul{
  text-align: start;
  padding-left: 0px;
  margin-bottom: 0px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4D4D4D;
  position: relative;
  z-index: 2;
  margin-top: -25px;
 

  li p{
    margin-left: 10px;
  }
}
#ul-login{
  color: #4D4D4D;
}
.ul.errorLi{
  margin-top: -20px;
}
.errorLi{
  color: #ff1515;
  
}



