.centrar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.form-group ul {
  
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2D2D2D;
}

 

  .ul{
      text-align: start;
  }
  .centerMybuttonPass{
      margin-left: 0px;
      left: 40vw;
      top: 60vh;
  }

  @media (min-height: 1000px) { 
  
    .centerMybuttonPass{
      margin-left: 0px;
      left: 40vw;
      top: 50vh;
    }
  
   }
