p{
  margin-bottom: 0px;
}


.centrar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.form-group ul {
  
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2D2D2D;
}
.ul{
      text-align: start;
  }
.centerMybuttonPass{
      margin-left: 0px;
      left: 45.104vw;
      top: 59.44444444444444vh;
  }
.display-flex{
  display: flex;
}

.restore-p{
  margin-bottom: 0px;
  margin-left: 5px;
}
.restore-error-p{
  color: #FF1515;
}


.errorsContainer{
    display: flex;
    height: 15px;
}




.float{
  position: absolute;
  left: 41vw;
  margin-top: 40px;
}
.noEqualsPassword{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #FF1515;
}

.errorInput{
  color:#FF1515;
}
.Button-Container{
  display: inline-block;
}
.float{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}
.label-error-password{
  color: #FF1515;
}
.login-restore-padding{
  padding-right: 340px;
  
  
}
.login-restore-padding2{
  padding-right: 398px;
}
.login-label-width{
  width: 541px;
}

.modal-error-title{
  background: #EB5757;
  border-radius: 25px 25px 0px 0px;
  height: 137px;
}
.modal-success-title{
  background: #6FCF97;
  border-radius: 25px 25px 0px 0px;
  height: 137px;
}
.modal-info-title{
  background: #0098FF;
  border-radius: 25px 25px 0px 0px;
  height: 137px;
}
.p-modal-error-title{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 47px;
}
.modal-error-subtitle{
 background: #FFFFFF;
 height: 214px;
 border-radius: 0px 0px 25px 25px;
}
.p-modal-error-subtitle{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #101820;
  padding-top: 51px;
}
.button-modal-error{
  background: #EB5757;
  border-radius: 50px;
  width: 219px;
  height: 50px;
  margin-left: 266px;
  text-decoration: none;
  border-color: #FFFFFF;
  border-width: 0px;
  margin-top: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 0px;
  vertical-align: middle;
}
.button-modal-info{
  background: #0098FF;
  border-radius: 50px;
  width: 219px;
  height: 50px;
  margin-left: 266px;
  text-decoration: none;
  border-color: #FFFFFF;
  border-width: 0px;
  margin-top: 51px;
}
.button-modal-info2{
  background: #0098FF;
  border-radius: 50px;
  width: 219px;
  height: 50px;
  margin-left: 266px;
  text-decoration: none;
  border-color: #FFFFFF;
  border-width: 0px;
  margin-top: 51px;
}
.button-modal-sucsses{
  background: #6FCF97;
  border-radius: 50px;
  width: 219px;
  height: 50px;
  margin-left: 266px;
  text-decoration: none;
  border-color: #FFFFFF;
  border-width: 0px;
  margin-top: 51px;
}
.button-modal-sucsses2{
  background: #6FCF97;
  border-radius: 50px;
  width: 219px;
  height: 50px;
  margin-left: 266px;
  text-decoration: none;
  border-color: #FFFFFF;
  border-width: 0px;
  margin-top: 51px;
}
.button-modal-error p{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
}
.button-modal-error2{
  background: #EB5757;
  border-radius: 50px;
  width: 219px;
  height: 50px;
  margin-left: 266px;
  text-decoration: none;
  border-color: #FFFFFF;
  border-width: 0px;
  margin-top: 51px;
}
.button-modal-error2 p{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 0px;
  vertical-align: middle;
}
.button-modal-info p{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  vertical-align: middle;
}
.button-modal-info2 p{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 0px;
  vertical-align: middle;
}
.button-modal-sucsses p{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
  vertical-align: middle;

}
.button-modal-sucsses2 p{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 0px;
  vertical-align: middle;
}
.container-modal{
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.contendor-modal-password{
  background: rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
  width: 99.999999vw;
  height: 99.999vh;
  top: 0;
  left: 0;
  position: absolute;
}
.errors-restore{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #FF1515;
  margin-bottom: 25px;
}

.input-restore-password{
  width: 28.177vw ;
  border: 0;
  border-bottom: 1px solid #4D4D4D;
  outline: none;
  margin-bottom: 3.314814814814815vh;
  /* margin-bottom: 5px; */
}
.errorsContainer-restore{
  margin-bottom: 10px;
  height: 20px;
  display: flex;
}
.errorsContainer-restore-password2{
  margin-bottom: 13px;
  display: flex;
  height: 10px;
}
.noEqualsPassword{
  display: flex;
  margin-bottom: 13px;
}
#password2{
  margin-bottom: 12px;
}
.myresolution-restore{
  max-width: 100%;
  height: 44.4vh;
  position: absolute;
  top: 55.6vh;
}

@media(min-width:1300px){
  .myresolution-restore{
    max-width: 100%;
    height: 48.6vh; 
    position: absolute;
    top: 51.4vh;
    z-index: -1;
  }
}


 @media (min-width:1800px){
  .errorsContainer{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .errors{
    top: -4.9vh;
  }
  .myresolution{
    height: 49vh;
  }
  .errorsContainer-restore{
    margin-bottom: 50px;
  }
  .float{
    margin-top: 15px;
  }
  .noEqualsPassword{
    margin-left: 12px;
  }
  .form-group ul {
    margin-left: 12px;
  }

  .errors-restore{
    margin-left: 12px;
  }
  
 }

