.logo{
  margin-top: 25.09259259259259vh;
  margin-bottom: 5.7407407407407405vh;
}

.centrar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.form-group ul {
  
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2D2D2D;
}



  .ul{
      text-align: start;
  }
  .centerMybuttonPass{
      margin-left: 0px;
      left: 40vw;
      top: 60vh;
  }
.display-flex{
  display: flex;
}

.restore-p{
  margin-bottom: 0px;
  margin-left: 5px;
}
.restore-error-p{
  color: #FF1515;
}

.myresolution{
  margin-top: 4px;
}
.errorsContainer{
    display: flex;
}