.modal-undelivered-h3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #101820;
    margin-bottom: 30px;
    margin-left: 335px;
}
.modal-undelivered-hr{
    margin-bottom: 21px;
    width: 445px;
    border: 1px solid #CCCCCC;
    border-top: 0px;
}
#modal-undelivered-hr{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 445px;
    border: 1px solid #CCCCCC;
    margin-left: 335px;
    border-top: 0px;
}
.modal-undelivered-opc{
font-family: 'Mulish';
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 21px;
letter-spacing: 0.005em;
color: #101820;
margin-left: 35px;
margin-top: 20px;
}

.modal-undelivered-button{
    background: #BDBDBD;
    border: 4px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 50px;
    width: 176px;
    height: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 62px;
}
.modal-undelivered-button-active{
    background: #0098FF;
    border: 4px solid #0098FF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 176px;
    height: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 62px;
}




.modal-container-height{
    height: 28vh;
    overflow-y: auto;
    width: 72%;
    overflow-x: hidden;
  
}

.modal-container-height::-webkit-scrollbar {
    width: 8px;     
    height: 8px;
}
.modal-container-height::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    width: 7px;     
    height: 7px;
    border-radius: 4px;
}


.modal-container-height::-webkit-scrollbar-thumb:hover {
    background: #BDBDBD;
    width: 7px;     
    height: 7px;
    border-radius: 4px;
}


.modal-container-height::-webkit-scrollbar-thumb:active {
    background-color: #BDBDBD;
    width: 7px;     
    height: 7px;
    border-radius: 4px;
}

.modal-container-height::-webkit-scrollbar-track {
    background: #F1F1F1;
    border-radius: 4px;
}
.modal-undelivered-opc-div{
    height: 60px;
    width: 454px;
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer;
}
.modal-undelivered-opc-div:hover{
    background: #F2F2F2;
    mix-blend-mode: multiply;
}
@media (max-width:1310px){
    .modal-undelivered-h3{
        margin-top: 10px;
    }
    .modal-undelivered-button{
        margin-top: 20px;
    }
    .modal-undelivered-button-active{
        margin-top: 20px;
    }
  
}

@media (min-width:1800px){
    .modal-undelivered-button{
        margin-top: 90px;
    }
    .modal-undelivered-button-active{
        margin-top: 90px;
    }
}



