.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.state-container {
  position: relative;
  border-left: 5px solid #6fcf97;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  min-height: 48px;
  width: 100%;
}

.state-container.transaction {
  height: 82px;
}
.state {
  display: flex;
  gap: 20px;
}

.image {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: -14.5px;
}

.image:last-child {
  left: -10.5px;
}

.state-container:last-child {
  border-left: 5px solid #6fcf9700;
}

.state-name {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.0125em;
  color: #4d4d4d;
}

.metadata {
  margin-bottom: 20px;
  max-height: 46px;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0,1,0,1);
  
  p {
    cursor: default;
    text-align: left;
    font-size: 15px;
    line-height: 19px;
    
    color: #4d4d4d;
    margin-top: 6px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    word-wrap: break-word;      
    animation: collapseText 0.1s linear 0.1s forwards;
  }
}

.metadata.expanded {
  max-height: 100rem;
  transition: max-height 0.3s cubic-bezier(0.9, 0, 0.8, 0.2);
}

.metadata.expanded > p {
  animation: expandText 0.1s linear 0s forwards;
}

.metadata.expandable > p{
  cursor: pointer;
}

.created-date {
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #bdbdbd;
}

.modal-history-a {
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.004em;
  color: #0098ff;
  margin-left: 15px;
  margin-top: 2px;
}

.modal-history-a:hover {
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.004em;
  color: #0098ff;
  margin-left: 15px;
  margin-top: 2px;
}

.modal-history-separate-option {
  border: 1px solid #bdbdbd;
  margin-top: 0px;
  padding-right: 30px;
  margin-bottom: 20px;
  opacity: 0.5;
  margin-top: 7px;
}

@media (min-width: 1800px) {
  .modal-history-separate-option {
    margin-bottom: 30px;
  }
  .modal-hitory-h3 {
    margin-bottom: 0px;
  }
}

@keyframes expandText {
  from {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
  to {
    line-clamp: initial;
    -webkit-line-clamp: initial;
  }
}
@keyframes collapseText {
  from {
    line-clamp: initial;
    -webkit-line-clamp: initial;
  }
  to {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}