.headerAdmin{
    background-color: #0098FF;
    color: white;
    height: 10vh;
    margin-bottom: 8vh;
}
.container{
    display: flex;
    width: 90%;
    padding-top: 2vh;
}
.centerHeight{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.font-Admin{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 3rem;
    text-align: right;
}
.leftEnd{
    margin-left: 60vw;
}
.argentina{
    margin-left: 1vw;
}
.user{
    margin-left: 1vw;
}
.pickersLogo{
    margin-left: 1vw;
}