.vehiculo-pending-picker{
    display: inline-block;
    /* margin-top: 1vh; */
    padding-left: 20px;
}
.form-Admin-Pickers{
    display: flex;
    background: #aca5a5;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    margin-top: 3vh;
}
.export-container{
    margin-left: auto;
}
.Admin-Pickers-input.readonly{
    color: #828282;
    background-color: transparent;
}
.Admin-Pickers-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.label-Admin-Pickers.readonly{
    color: #828282;
}
.label-Admin-Pickers{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #4D4D4D;
    margin-bottom: 0;
    //width: 23vw;
}
.pendingblue-container{
    display: flex;
}
.last-label{
    white-space: nowrap;
}
::placeholder{
    color: #BDBDBD;
}
.Admin-Pickers-input{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    //margin-right: 26px;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #101820;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom:  1px solid #828282;
    margin-bottom: 30px;
    width: 100%;
}

.Admin-Pickers-button{
    box-sizing: border-box;
    border-radius: 50px;
    border: 2.5px solid #0098FF;
    width: 163px;
    height: 50px;
    background-color: white;
    text-align: center;
    margin-top: 3.2552083333333335vh;
    margin-left: 44vw;


}
.Admin-Pickers-space{
    margin-left: 20px;
    width: 23vw;
    margin-right: 6px;
}

.option{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    border-radius: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.optionHover{
    background-color: #95E1BF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    width: 90%;
}
.form-part-1-admin-pickers{
    background-color: white;
    //display: flex;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px 35px 25px;
    margin-top: 3vh;
    flex-wrap: wrap;
    //width: 77.8vw;
}

.subTitle-pending-data{
    margin-top: 2rem;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #2D2D2D;
}

.separacion{
    margin-top: 60px;
}

.pending-admin-picker-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 34px;
    margin-top: 30px;

}
.label-width{
    width: 30vw;
}
.corregir-admin-picker{
    border: 2.5px solid #0098FF;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #101820;
    width: 217px;
    margin: 0 10px;
    height: 50px;
    background-color: white;
}

.aprobar-admin-picker{
    margin-left: 20px;
    width: 191px;
    height: 50px;
    background: #BDBDBD;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
    border: none;
}
.aprobar-admin-picker-active{
    margin-left: 20px;
    width: 191px;
    height: 50px;
    background: #0098FF;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
    border: none;
}
.aprobar-admin-picker-disable{
    margin-left: 20px;
    width: 191px;
    height: 50px;
    background: #BDBDBD;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
    border: none;
}
.aprobar-admin-picker-habilitado{
    margin-left: 20px;
    width: 191px;
    height: 50px;
    background: #0098FF;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #FFFFFF;
}
.Admin-Pickers-input-clear{
    display: none;
}
.mainContainerFlex{
    display: flex;
}
.subTitle-pending-picker{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #101820;
    /* margin-top: 5vh; */
    max-width: 800px;
}

.contendor-modal-pending-pickers-aprobar{
    background: rgba(0, 0, 0, 0.25);
    mix-blend-mode: multiply;
    width: 98.7vw;
    height: 200vh;
    top: 0;
    left: 0;
    position: absolute;
}
.button-modal-revisar{
    background: white;
    border-radius: 50px;
    width: 219px;
    height: 50px;
    margin-left: 0px;
    text-decoration: none;
    border-color: #00B2E3;
    border-width: 0px;
    margin-top: 26px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #101820;
    border: 2.5px solid #0098FF;
    box-sizing: border-box;
    border-radius: 50px;
}
.button-submit-active{
    background: #0098FF;
    border-radius: 50px;
    width: 219px;
    height: 50px;
    margin: 0 10px;
    text-decoration: none;
    border-color: #FFFFFF;
    border-width: 0px;
    color: #FFFFFF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}
.button-submit-active:disabled{
    background: #BDBDBD;
}
.button-modal-aprobar-exito{

    background: #6FCF97;
    border-radius: 50px;
    width: 219px;
    height: 50px;
    margin-left: 0px;
    text-decoration: none;
    border-color: #FFFFFF;
    border-width: 0px;
    margin-top: 26px;
    color: #FFFFFF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}
.button-submit-subtype{
    border: 2.5px solid #0098FF;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #101820;
    width: 217px;
    margin: 0 10px;
    height: 50px;
    background-color: white;
}
.button-submit-subtype:disabled{
    border: 2.5px solid #BDBDBD;
    color: #BDBDBD;
}
.modal-error-title2{
    background: #00B2E3;
    border-radius: 25px 25px 0px 0px;
    height: 137px;
}
.modal-error-subtitle-buttons{
    background: #FFFFFF;
    height: 167px;
    border-radius: 0px 0px 25px 25px;
}
.modal-error-subtitle{
    background: #FFFFFF;
    height: 214px;
    border-radius: 0px 0px 25px 25px;
}
.p-modal-error-subtitle-buttons {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #101820;
    padding-top: 26px;

}
.button-pending-picker-modal{
    display: flex;
    justify-content: center;
}


.p-modal-pending-subtitle{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #101820;
    padding-top: 51px;
    margin-left: 94px;
    margin-right: 94px;
}
.pending-admin-picker-container-checkbox{
    margin-top: 41px;
}
.pending-admin-picker-input-checkbox{
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    width: 20px;
    height: 20px;
}
.pending-admin-picker-div-label{
    vertical-align: middle;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
    margin-left: 11px;
}
.active-admin-picker-estado-container{
    display: flex;
    width: 77vw;
}
@media (min-width: 1800px) {
    .vehiculo-active-picker {
        margin-left: 14%;
    }
    .active-admin-picker-estado-container{
        width: 100%;
    }
}
.active-admin-picker-estado-container{
    margin-top: 4px;
    margin-bottom: 10px;
}
.admin-buttonDisabled-picker-enabled {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #bdbdbd;
    opacity: 0.9;
    margin-left: 15px;
}
.admin-buttonDisabled-picker-disabled {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #ff1515;
    border: none;
    margin-right: 15px;
}
.admin-active-picker {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #bdbdbd;
    border: none;
    margin-right: 15px;
}
.admin-active-picker-p {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #6fcf97;
    opacity: 0.9;
    margin-left: 15px;
}
.picker-id {
    color: #bdbdbd;
    /* position: absolute; */
    left: 20.06%;
    right: 70.13%;
    top: 18.55%;
    bottom: 79.88%;

    /* Body 1 */

    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
}

.Admin-Pickers-input-middle{
    //width: 139px;
    border: 0;
    border-bottom: 1px solid #828282;
    outline: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    //margin-right: 26px;
    letter-spacing: 0.005em;
    color: #101820;
    border: 0;
    outline: none;
    border-bottom: 1px solid #828282;
    margin-bottom: 3.515625vh;
}
.label-Admin-Pickers-middle{
    //width: 138px;
    margin-bottom: 0;
}
.mainContainerFlex-picker{
    display: flex;
    margin-top: 6.380208333333334vh;
}

@media (min-width: 1800px) {

    .Admin-Pickers-button{
        margin-left: 53vw;
    }
    .mainContainerFlex-picker{
        margin-top: 23px;
        margin-bottom: 22px;
    }
    .Admin-Pickers-input{
        //width: 499px;
    }
    .Admin-Pickers-space{
        width: 499px;
        margin-right: 4px;
    }
    .Admin-Pickers-input-middle{
        //width: 239px;
    }

    .pending-admin-picker-button{
        margin-top: 35px;
    }
    .subTitle-pending-picker{

    }
}

@media (max-width:1300px){
    .Admin-Pickers-space{
        width: 22.4vw;
        margin-left: 18px;
    }
    .Admin-Pickers-input{
        //width: 22.2vw;
    }
    .label-Admin-Pickers{
        //width: 22.2vw;
        margin-bottom: 0;
    }
    .Admin-Pickers-input-middle{
        //width: 124px;
    }
    .label-Admin-Pickers-middle{
        margin-bottom: 0;
        //width: 124px;
    }
}