.option{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    border-radius: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.optionHover{
    background-color: #95E1BF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    width: 90%;
}