.modal-transaction-reasonsCanceledConfirm-volver{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #145A99;
    margin-left: 10px;
}
.modal-transaction-reasonsCanceledConfirm-volver-img{
    margin-top: 2px;
}
.modal-transaction-volver{
    display: flex;
  
}
.modal-transaction-reasonsCanceledConfirm-container{
    width: 100vw;
}
.modal-transaction-reasonsCanceledConfirm-img{
    margin-left: 516px;
    margin-bottom: 10px;

}
.modal-transaction-reasonsCanceledConfirm-subtitle{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    margin-left: 392px;
    margin-bottom: 20px;
}
.modal-transaction-reasonsCanceledConfirm-separate{
    border: 1px solid #145A99;
    margin-left: 275px;
    width: 566px;
}
.modal-transaction-reasonsCanceledConfirm-p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
    margin-left: 391px;
    margin-bottom: 1vh;
    margin-top: 25px;
}
.modal-transaction-reasonsCanceledConfirm-p2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
    margin-left: 478px;
    margin-top: 20px;
}
.modal-transaction-reasonsCanceledConfirm-button{
    width: 176px;
    height: 50px;
    background: #FFA825;
    border: 4px solid #FFA825;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 42px;
    margin-left: 471px;
}

@media (min-width: 1600px) {
   
    .modal-transaction-reasonsCanceledConfirm-img{
        margin-top: 3vh;
    }
    .modal-transaction-reasonsCanceledConfirm-p{ 
        margin-left: 22.462vw;
        font-size: 25px;
        margin-top: 20px;
    }
    .modal-transaction-reasonsCanceledConfirm-p2{
        font-size: 25px;
        margin-top: 20px;
        margin-left: 32.962vw;
    }
    .modal-transaction-reasonsCanceledConfirm-subtitle{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 25.290vw;
        font-size: 25px;
    }
    .modal-transaction-reasonsCanceledConfirm-button{
        margin-top: 20vh;
        
    }
   


}

@media (min-width: 1800px) {
    .modal-transaction-reasonsCanceledConfirm-img{
        margin-top: 3vh;
    }
    .modal-transaction-reasonsCanceledConfirm-p{ 
        margin-left: 25.462vw;
        font-size: 25px;
        margin-top: 30px;
    }
    .modal-transaction-reasonsCanceledConfirm-p2{
        font-size: 25px;
        margin-top: 30px;
        margin-left: 32.962vw;
    }
    .modal-transaction-reasonsCanceledConfirm-subtitle{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 29.290vw;
        font-size: 25px;
    }
    .modal-transaction-reasonsCanceledConfirm-button{
        margin-top: 20vh;
    }

}