.modal-transaction-reasonsCanceledConfirm-volver{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #145A99;
}
.modal-transaction-volver{
    display: flex;
}
.modal-transaction-reasonsCanceledConfirm-container{
    width: 100vw;
}
.modal-transaction-reasonsCanceledConfirm-img{
    margin-left: 38.091vw;
}
.modal-transaction-reasonsCanceledConfirm-subtitle{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #2D2D2D;
    margin-left: 27.090vw;
    margin-top: 2vh;
}
.modal-transaction-reasonsCanceledConfirm-separate{
    border: 1px solid #145A99;
    margin-left: 19.862vw;
    width: 41.581vw;
}
.modal-transaction-reasonsCanceledConfirm-p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
    margin-left: 24.462vw;
    margin-bottom: 1vh;
}
.modal-transaction-reasonsCanceledConfirm-p2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
    margin-left: 35.089vw;
}
.modal-transaction-reasonsCanceledConfirm-button{
    width: 176px;
    height: 50px;
    background: #0098FF;
    border: 4px solid #0098FF;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10vh;
    margin-left: 34.211vw;
}

@media (min-width: 1600px) {
   
    .modal-transaction-reasonsCanceledConfirm-p{
        margin-left: 23.962vw;
    }
    .modal-transaction-reasonsCanceledConfirm-subtitle{
        margin-left: 26.890vw;
    }


}

@media (min-width: 1800px) {
   
    .modal-transaction-reasonsCanceledConfirm-p{ 
        margin-left: 27.462vw;
    }
    .modal-transaction-reasonsCanceledConfirm-subtitle{
        margin-left: 29.290vw;
    }

}