.table-admin{
    width: 100%;
    margin-bottom: 20px;
}
.title-table{
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #4D4D4D;
    height: 70px;
    text-align: center;
}
.info{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #666666;
    height: 70px;
}
.color-state-red{
    color: #FF1515;
}
.color-state-green{
    color: #27AE60;
}
.admin-table-correction{
    margin-left: 1.464vw;
    display: inline-block;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.004em;
    color: #FF1515;
    background: rgba(255, 21, 21, 0.1);
    border: 1px solid #FF1515;
    box-sizing: border-box;
    border-radius: 5px;
    height: 3.776041666666667vh;
    width: 7.247vw;
    padding-top: 0.78125vh;
}