
.table-admin{
    width: 100%;
    background-color: white;
}

.thead-table-admin{
    display: inline-block;
    padding-left: 3.660vw;
}
.table-admin-img-padding{
    padding-left: 15px;
}


.table-admin thead tr td {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #4D4D4D;
    height: 11.197916666666668vh;
}
.table-admin{
    border-collapse: separate; 
    border-spacing: 0px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    background-color: #F2F2F2;   
    border: 1px solid #CCCCCC;
}
.table-admin thead tr td {
    border-bottom: 1px solid #CCCCCC;
    height: 11.197916666666668vh;
}
.table-admin tbody tr td {
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #4F4F4F;
}
.aditar-picker-img{
    margin-left: 20px;
    
}
.table-admin tbody tr td:first-child {
    width: 3.660vw;
}
.table-admin thead tr td:nth-child(2){
    width: 10.321vw;
}
.table-admin thead tr td:nth-child(3){
    padding-left: 0.55vw;
}
.table-admin tbody tr td:nth-child(3){
    padding-left: 0.5vw;
}
.table-admin thead tr td:nth-child(4){
    padding-left: 0.5vw;
}
.table-admin tbody tr td:nth-child(4){
    padding-left: 0.5vw;
}
.table-admin tbody tr td:nth-child(6){
    padding-left: 1vw;
}
.table-admin thead tr td:nth-child(6){
    padding-left: 1vw;
}
.table-admin thead tr td:last-child {
    width: 2.635vw;
}
.table-admin tbody tr td:last-child {
    width: 2.635vw;
}

.info{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #666666;
    height: 100px;
    text-align: start;
    
}
#color-state-red{
    color: #FF1515;
    font-weight: 700;
}
#color-state-green{
    color: #27AE60;
    font-weight: 700;
}
.admin-table-correction{
    display: inline-block;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-left:1vw;
    letter-spacing: 0.004em;
    color: #FF1515;
    background: rgba(255, 21, 21, 0.1);
    border: 1px solid #FF1515;
    box-sizing: border-box;
    border-radius: 5px;
    height: 29px;
    padding-left: 0.5vw;
    width: 99.72px;
    padding-top: 6px;
}
.admin-table-alerta{
    display: inline-block;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-left:1vw;
    letter-spacing: 0.004em;
    color: #FF1515;
    background: rgba(255, 21, 21, 0.1);
    border: 1px solid #FF1515;
    box-sizing: border-box;
    border-radius: 5px;
    height: 29px;
    padding-left: 0.5vw;
    width: 74px;
    padding-top: 6px;
    margin-left: 25px;
}
.table-pending td:nth-child(2){
    width: 12.321vw;
}
.table-active-correcion td:nth-child(2){
    width: 12.221vw;
}
.table-active-correcion td:nth-child(3){
    width: 10.221vw;
}
@media (max-width:1310px){
    .admin-table-alerta{
        margin-left: 15px;
    }
}

@media (min-width:1800px){
    .admin-table-alerta{
        margin-left: 29px;
    }
    .table-admin thead tr td{
        height: 86px;
    }
    .table-admin thead tr td:nth-child(1){
        width: 76px;
    }
    .table-admin thead tr td:nth-child(2){
        width: 253px;
    }
    .table-admin thead tr td:nth-child(3){
        width: 213px;
    }
    .table-admin thead tr td:nth-child(4){
        width: 400px;
    }
}


