.flex-tab{
    display: inline-flex;
    border-radius: 10px;

}
.backGround-tab{
    background-color: white;
    
}
.table-title-active{
    color: #0098FF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 1.171vw;
    line-height: 21px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
}

.table-title{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 1.171vw;
    line-height: 21px; 
    color: #2D2D2D;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;

}
.preliquidation-paragraph-goBack{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #145A99;  
    display: inline-block;
    margin-top: -0.65104166666667vh;
    margin-left: 0.5rem;
    cursor: pointer;
}
.container-tag{
    height: 12.5vh;
    width: 26.2vw;
    border: 0.823136px solid #E5E5E5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.196vw    ;
    padding-right: 2.196vw    ;
}
.tag-blue-border-izq{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.tag-blue-border-der{
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.border-tag{
    border-left: 0.823136px solid #E5E5E5;
}
.img-buttons{
    width: 4.392vw;
    height: 7.8125vh;
    vertical-align: middle;
}

.img-goBack{
    margin-left: 18.107vw  ;
    display: inline-block;
    margin-top: -0.65104166666667vh;
    cursor: pointer;
}
.pending-black{
    color: #2D2D2D;
}
.pending-blue{
    color: #0098FF;  
}
.buttonVolver{
    background-color: #FAFAFA;
    border: none;
    cursor: pointer;
}




@media (max-width:1300px){
    .container-tag{
        width: 25.2vw;
    }

    .img-goBack{
        margin-left: 19.707vw  ;
    }

}

@media (max-width:1250px){
    .container-tag{
        width: 25.2vw;
    }

    .img-goBack{
        margin-left: 17.707vw  ;
    }

}

@media(min-width:1800px){
    .container-tag{
        width: 537px;
        height: 95px;
    }
    .table-title-active{
        padding-top: 3.5vh;
        font-size: 16.4627px;
    }
    .table-title{
        padding-top: 3.65vh;
        font-size: 16.4627px;
    }
    .img-buttons{
        width: 60px;
        height: 60px;

    }
    .img-goBack{
        margin-left: 23.707vw;
    }
}
@media(min-width:2000px){

    .img-buttons{
        width: 60px;
        height: 60px;
        margin-left: 10.8vw;
    }
    .img-goBack{
        margin-left: 28.707vw;
    }
}
