@import 'src/colors';

.tooltip-container {
  display: flex;
  align-items: center;
  overflow: visible;
  z-index: 999;
}

.tooltip-content {
  position: fixed;
  white-space: nowrap;
  @include theme-selector('background-color', 'color-gray-4d', true);
  border-radius: 4px;
  @include theme-selector('color', 'color-white', true);
  padding: 0px 16px;
  display: flex;
  align-items: center;
  transition: opacity 200ms;
  z-index: 9999;
  opacity: 0;
  font-size: 14px;
  line-height: 18px;
  height: 34px;
  

  &.top, &.bottom {
    left: 50%;
    transform: translateX(-50%);
  }

  &.top {
    bottom: 100%;
  }

  &.bottom {
    top: 100%;
  }
}


.tooltip-arrow {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 2px;
  background-color: #4d4d4d;
  transform: rotate(45deg);

  &.left{
    right: -5px;
  }

  &.right{
    left: -5px;
  }

  &.top,
  &.bottom {
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
  }

  &.bottom {
    top: 0px;
  }
  
  &.top {
    bottom: -8px;
  }

}



