.card-body-admin{
    width: 38.287vw;
    text-decoration: none;
}
.card-body-admin:link, .card-body-admin:visited, .card-body-admin:active {
    text-decoration:none;
}
.paragraph-admin-card{
    color: #2D2D2D;
}