@import "@pickit/pickit-grid-system";

.container-transaction-table {
  @include container(24, 25px);
}

@mixin styleParagraph($font-weight, $color) {
  font-family: "Mulish";
  font-style: normal;
  font-weight: $font-weight;
  color: $color;
}
@mixin fontSize($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}
%centerTable {
  margin-left: 0px;
  width: 100%;
}
%tableTopRadius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
$styleBorder: 1px solid #cccccc;
$backgroundTableHead: #f7f7f7;
$backgroundWhite: white;

.flex-align-center {
  display: flex;
  align-items: center;
}

.titleTableTransactions {
  overflow: hidden;
  @extend %tableTopRadius;
  background: $backgroundTableHead;
  margin-top: 40px;
  border: $styleBorder;
  height: 86px;

  @extend %centerTable;
  div {
    border-bottom: $styleBorder;
    @include styleParagraph(bold, #4d4d4d);
    @include fontSize(18px, 23px);
    background: $backgroundWhite;
    height: 85px;
  }
}
.table-content {
  @extend %centerTable;
  background: white;
  height: 100px;
  border-left: $styleBorder;
  border-right: $styleBorder;
  div {
    border-bottom: $styleBorder;
    @include styleParagraph(normal, #4f4f4f);
    @include fontSize(18px, 23px);
  }
  .admin-table-alerta {
    display: inline-block;
    @include styleParagraph(normal, #ff1515);
    @include fontSize(13px, 16px);
    margin-left: 1vw;
    letter-spacing: 0.004em;
    background: rgba(255, 21, 21, 0.1);
    border: 1px solid #ff1515;
    box-sizing: border-box;
    border-radius: 5px;
    height: 29px;
    padding-left: 1.4vw;
    width: 99px;
    padding-top: 6px;
    margin-left: 25px;
  }

  &:hover {
    @include styleParagraph(normal, #4f4f4f);
    @include fontSize(18px, 23px);
    border-bottom: $styleBorder;
    background: #f2f2f2;
    mix-blend-mode: multiply;
    cursor: pointer;
  }
}
