@import "@pickit/pickit-grid-system";

.container-transaction-table {
  @include container(25, 25px);
}

@mixin style-paragraph($font-weight, $color) {
  font-family: "Mulish";
  font-style: normal;
  font-weight: $font-weight;
  color: $color;
}
@mixin font-size($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}
%center-table {
  margin-left: 0px;
  width: 100%;
}
%table-top-radius {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
$style-border: 1px solid #cccccc;
$background-table-head: #f7f7f7;
$background-white: white;

.flex-align-center {
  display: flex;
  align-items: center;
}

.title-table-transactions {
  overflow: hidden;
  @extend %table-top-radius;
  background: $background-table-head;
  margin-top: 40px;
  border: $style-border;
  height: 86px;

  @extend %center-table;
  div {
    border-bottom: $style-border;
    @include style-paragraph(bold, #4d4d4d);
    @include font-size(18px, 23px);
    background: $background-white;
    height: 85px;
  }
}
.table-content {
  @extend %center-table;
  background: white;
  height: 100px;
  border-left: $style-border;
  border-right: $style-border;
  div {
    border-bottom: $style-border;
    @include style-paragraph(normal, #4f4f4f);
    @include font-size(18px, 23px);
  }
  &:hover {
    @include style-paragraph(normal, #4f4f4f);
    @include font-size(18px, 23px);
    background: #f2f2f2;
    mix-blend-mode: multiply;
    cursor: pointer;
  }
}


.table-transactions-sla-date {
  white-space: pre;
  margin-right:15px;
}
.in-alert-red {
  color: #ff1515;
}
.admin-table-inAlert {
  margin-left: 5px;
  width: 18px;
  height: auto;
}
