
.titleTableTransactions { 
    border-collapse: separate; 
    border-spacing: 0px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    width: 78vw;    
    margin-top: 40px;
}
.titleTableTransactions thead tr{
    border: 1px solid #CCCCCC;
    height: 86px;
}

.titleTableTransactions thead tr td  {
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #4D4D4D;
}
.titleTableTransactions tbody tr {
    background: white;
    height: 100px;
}
.titleTableTransactions tbody tr td{
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #4F4F4F;
}
.titleTableTransactions tbody tr:hover{
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    background: #F2F2F2;
    mix-blend-mode: multiply;
    cursor: pointer;
}
.admin-table-alerta {
    display: inline-block;
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-left: 1vw;
    letter-spacing: 0.004em;
    color: #ff1515;
    background: rgba(255, 21, 21, 0.1);
    border: 1px solid #ff1515;
    box-sizing: border-box;
    border-radius: 5px;
    height: 29px;
    padding-left: 0.5vw;
    width: 74px;
    padding-top: 6px;
    margin-left: 25px;
  }

  .white-space{
      white-space: pre;
  }
  .in-alert-red{
      color: #ff1515;
  }
  .admin-table-inAlert {
    margin-left: 5px;
  }
  


.titleTableTransactions thead tr td:nth-child(1){
    width: 10.833vw;
}
.titleTableTransactions thead tr td:nth-child(2){
    width: 16vw;
}
.titleTableTransactions thead tr td:nth-child(3){
    width: 16vw;
}
.titleTableTransactions thead tr td:nth-child(4){
    width: 20vw;
}
.titleTableTransactions thead tr td:nth-child(5){
    width: 15vw;
}
.img-filter-transaction{
 
}
.titleTableTransactions tbody tr td:nth-child(1){
    padding-left: 2.833vw;
}

@media(max-width:1310px){
  .titleTableTransactions{
      width: 77vw;
  }
  .titleTableTransactions thead tr td:nth-child(5){
    width: 17vw;
    }
    .titleTableTransactions thead tr td:nth-child(6){
        width: 17vw;
        }
 
}
@media (min-width:1800px){
    .titleTableTransactions{
        width: 100%;
    }
    .titleTableTransactions thead tr{
        height: 86px;
    }
    .titleTableTransactions tbody tr{
        height: 100px;
    }
    .titleTableTransactions thead tr td:nth-child(2){
        width: 213px;
    }
    .titleTableTransactions thead tr td:nth-child(3){
        width: 361px;
    }
    .titleTableTransactions thead tr td:nth-child(4){
        width: 335px;
    }
}