.FlexPending{
    display: flex;
    border-radius: 10px;
}
.backGround-pending{
    background-color: white;
    
}
.Pending-paragraph{
    color: #0098FF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 16.4627px;
    line-height: 21px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-top: 3.595724003887269vh;
    padding-left: 2.196vw    ;
}

.Pending-paragraph2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 16.4627px;
    line-height: 21px; 
    color: #2D2D2D;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    padding-top: 3.595724003887269vh;
    padding-left: 2.196vw    ;
}
.Pending-paragraph3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #145A99;  
    display: inline-block;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.container-pending{
    height: 12.5vh;
    width: 30vw;
    border: 0.823136px solid #E5E5E5;
   
}
.border-pending{
    border-left: 0.823136px solid #E5E5E5;
}
.img{
    position: absolute;
    margin-left: 8.029vw;
    margin-top: 1.943634596695821vh;
}
.img2{
    position: absolute;
    margin-left: 15.029vw ;
    margin-top: 1.943634596695821vh;
}
.img3{
    margin-left: 11.107vw  ;
    display: inline-block;
}
.pending-black{
    color: #2D2D2D;
}
.pending-blue{
    color: #0098FF;  
}
@media (min-height: 750px) { 
    .img{
      
        
        margin-top: 2.943634596695821vh;
    }
    .img2{
       
       
        margin-top: 2.943634596695821vh;
    }
    .Pending-paragraph{
        
        padding-top: 4.595724003887269vh;
       
    }
    
    .Pending-paragraph2{
       
        padding-top: 4.595724003887269vh;
      
    }
    
}
.pending-blue-border-izq{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.pending-blue-border-der{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
@media (min-height: 800px) { 

    .img3{
        margin-left: 12.007vw  ; 
    }
}