
.modal-transaction-a{
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.004em;
    color: #0098FF;
    margin-left:15px;
    margin-top: 2px;
}
.modal-transaction-a:hover{
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.004em;
    color: #0098FF;
    margin-left:15px;
    margin-top: 2px;
}

.form-filter-transaction-modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    
}
.form-filter-transaction-modal div div input {
    border: 0;
    border-bottom: 1px solid #828282;
    width: 19.69vw;
    margin-right: 26px;
    outline: none;
    margin-bottom: 18px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0px;
    color: black;
}
.form-filter-modal{
    margin-top: 13px;
    margin-bottom: 10px;
}
.form-filter-modal div div input{
    border: 0;
    border-bottom: 1px solid #828282;
    width: 19.69vw;
    margin-right: 26px;
    outline: none;
    margin-bottom: 25px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0px;
    color: black;
}
