@import "@pickit/pickit-grid-system";

.container-detail-preliquidation {
  @include container(3, 20px);
}
.form-detail-preliquidation{
    width: 100%;
}
.container-detail-preliquidation-row{
  padding-left:20px;
}
.container-detail-preliquidation-col-sm-1{
  padding-right:35px;
  padding-left:35px;
  padding-bottom:25px;
}
.detail-preliquidation-adjust{
  flex: 0 0 64.6%;
  margin-left: 2%;
}
.detail-preliquidation-fondo{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.detail-preliquidation-buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}
.detail-preliquidation-fondo{
  display: flex;
  justify-content: flex-end;
}
.detail-preliquidation-invoice-p{
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #0098FF;
  margin-right: 40px;
  padding-bottom: 13px;
}
.detail-preliquidation-invoice-p:disabled{
  color: #CCCCCC;
}

.form-part-1-admin-pickers.detail-preliquidation-margin-top{
  margin-top: 20px;
}
.detail-preliquidation-margin-top{
  margin-top: 40px;
}
._28B9K2Lp5eIqcQvEtU2fqv input{
  color: #2D2D2D;
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.005em;
  border-bottom: 1px solid #828282;
}
._28B9K2Lp5eIqcQvEtU2fqv input{
  position: relative;
  z-index: 1;
}
._28B9K2Lp5eIqcQvEtU2fqv ._3KXsglJ0piyBdHcEOmWbj-{
  z-index: 2;
}
.theme-default .cqRwo-r-zqTDBe7JiXRtJ{
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  color: #ff1515;
  top: -5px;
  height: 40px;
  z-index: 2;
}
.theme-default ._28B9K2Lp5eIqcQvEtU2fqv ._1HVyR0NAnXzmE1RU1Z4VIK{
  color: #ff1515;
}
.color-red{
  color: #ff1515;
}

%icon {
  background-color: $icon-color;
  height: 15px;
  width: 17px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0 8px;

  &:hover {
    background-color: $icon-color-hover;
  }
}

$icons: delete, download, replace;

@each $icon in $icons {
  .#{$icon}-icon-svg {
    @extend %icon;
    mask-size: contain;
    background-size: contain;
    -webkit-mask: url("../../../assets/admin/file-" + quote($icon) + ".svg")
      no-repeat
      center;
    mask: url("../../../assets/admin/file-" + quote($icon) + ".svg")
      no-repeat
      center;
  }
}

.delete-icon-svg{
  height: 17px;
  width: 15px;
}
