

.button-modal-error p{
    padding-top: 0px;
}
.size-restore{
    height:22vh;
}


.logo-restore{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12.4vh;
    //margin-top: 25.833333333333332vh;
    width: 208px;
    height: 5.833333333333333vh;

  }
.myresolution-email{
  position: relative;
  top: 0;
  height: 50vh;
  max-width: 100%;
}


   @media (min-width:1800px){
    .size-restore{
      height:11.88888888888889vh;
      width: 28.988vw;
    }
    #email-send{
      width: 188px;
    }
  }