.card-admin-picker2{
    background: #FFFFFF;
    border: 1px solid #6FCF97;
    box-sizing: border-box;
    border-radius: 16px;
    padding-bottom: 20px;
}
.button-admin-picker2{
    background: rgba(4, 206, 109, 0.1);
    border: 2px solid #6FCF97;
    box-sizing: border-box;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

color: #4D4D4D;
}
.img-admin-picker2{  
   padding-right: 10px;
}
.img-admin-picker3{
    padding-left: 10px;
}