.flota-part-div-label{
    height: 20px;
}
.label-Admin-Pickers{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px; 
    letter-spacing: 0.0025em;
    color: #4D4D4D;
    width: 23vw;
}
.Admin-Pickers-space-alone{
    margin-left: 20px;
    width: 70vw;
}
.inputError-part{
    width: 23vw ;
    border: rgba(153, 24, 20, 0);
    color: #FF1515;
    border-bottom: 1px solid #e00404;
    margin-bottom: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #FF1515;
}
.inputError-part::placeholder{
    color: #FF1515;
}
.labelError-part-top{
    color: #FF1515;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.004em;
    color: #FF1515;
}
.labelError-part-bottom{
    color: #FF1515;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.004em;
    color: #FF1515;
}

.readonly{
    color: #828282
}
.admin-picker-part-tel{
    width: 138px;
}

.label-Admin-Pickers-middle{
    height: 19px;
    width: 138px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    color: #4D4D4D
}
.admin-picker-part-telefono{
    margin-left: 20px;
    margin-top: 1px;
    display: inline-block;
}

@media (max-width:1300px){
    .admin-picker-part-tel{
        width: 129px;
    }
}
@media (min-width:1800px){
    .admin-picker-part-tel{
        width: 239.5px;
    }
    .admin-picker-part-telefono{
        margin-left: 20px;
    }
    
}