@import "@pickit/pickit-grid-system";
@import "../../../../component/admin/ExpandableFile/ExpandableFile.scss";

.container-detail-preliquidation-form {
  @include container(15, 20px);
}
.container-detail-preliquidation-card {
  @include container(12, 20px);
}

@mixin font-size($font-size, $line-height, $letter-spacing) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

.detail-preliquidation-container-card {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 40px;
}

.preliquidation-transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.display-card-preliquidation {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 16px;
  padding-top: 35px;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-right: 8px;
  //height: 411px;
  height: calc(100% - 45px);
  max-height: 411px;
}
.container-table-amount-preliquidation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  p {
    @include styleParagraph(normal, #828282);
    @include font-size(13px, 16px, 0.004em);

    b {
      @include styleParagraph(700, #4d4d4d);
      @include font-size(16px, 20px, 0.0125em);
      text-align: right;
    }
  }
}

.button-change-amount {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;

  p {
    @include styleParagraph(700, #0098ff);
    @include font-size(16px, 20px, 0.0125em);
    margin-left: 10px;
  }

  svg path {
    stroke: #0098ff;
  }

  &:disabled {
    cursor: auto;
    p {
      color: #CCC;
    }
    svg path {
      stroke: #CCC;
    }
  }
}

.preliquidation-history-container{
  padding: 6px 12px;
  overflow-y: auto;
  height: 100%;
  
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    width: 7px;
    height: 7px;
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
  }
}

.relative{
  position: relative;
  overflow: hidden;
}

.history-footer-transparent {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: calc(100% - 20px);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 63.36%
  );
}

