@import "@pickit/pickit-grid-system";
@import "../../../../component/admin/ExpandableFile/ExpandableFile.scss";

.container-detail-preliquidation-form {
  @include container(15, 20px);
}
.container-detail-preliquidation-card {
  @include container(12, 20px);
}

@mixin font-size($font-size, $line-height, $letter-spacing) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

.detail-preliquidation-container-card {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 40px;
}

.preliquidation-transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overflow-scroll {
  max-height: 322px;
  overflow-y: auto;
  padding-bottom: 20px;
}
.display-filter-preliquidation {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 16px;
  padding-top: 35px;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-right: 8px;
}
.container-table-amount-preliquidation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  p {
    @include styleParagraph(normal, #828282);
    @include font-size(13px, 16px, 0.004em);

    b {
      @include styleParagraph(700, #4d4d4d);
      @include font-size(16px, 20px, 0.0125em);
      text-align: right;
    }
  }
}

.button-change-amount {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;

  p {
    @include styleParagraph(700, #0098ff);
    @include font-size(16px, 20px, 0.0125em);
    margin-left: 10px;
  }

  svg path {
    stroke: #0098ff;
  }

  &:disabled {
    cursor: auto;
    p {
      color: #CCC;
    }
    svg path {
      stroke: #CCC;
    }
  }
}
