.mainContainerFlex{
    display: flex;
    margin-top: 6.380208333333334vh;
}
.background-Grey{
    background-color: #FAFAFA;
    
}
.title_Dashboard_Admin{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #0098FF;
    text-align: center;
    z-index: 10;
}
.subtitle_Dashboard_Admin{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    color: #101820;
    text-align: center;
    z-index: 10;
}
.card-admin{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
}
.card-body-admin{
    width: 38vw;
    height: 25vh;
    margin-left: 1.5vw;
    margin-bottom: 2vh;
    border-radius: 10px;
    display: flex;
    z-index: 10;
}
.Admin-container{
    width: 100%;
    z-index: 10;
    margin-left: 17.082vw;
    padding-top: 7.8125vh;
}

.admin-black{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 18px;
    color: #2D2D2D;
    z-index: 10;
}
.number-admin{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100px;
    text-align: right;
    color: #2D2D2D;
    z-index: 10;
}
.part-1{
    margin-left: 5%;
    width: 30%;
    margin-top:12%;
    z-index: 10;
}
.part-2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40%;
    width: 10%;
    z-index: 10;
}

.paragraph-admin-card{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 8px;
    z-index: 10;
    margin-bottom: 10px;
}
._97HeZ1z-bCxJgRNi-TY8d{
    border-radius: 25px !important;
}

.modalLoading {
 
    backdrop-filter: blur(5px);
    position: fixed;
    top:0vh;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background:  rgba(255, 255, 255, 0.4) url("../../assets/canguro-pickers.gif") 50% 50% no-repeat;
}
