.transaction-filter-div-label{
    height: 20px;
}
.display-filter-transaction{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 19px;
    margin-top: 16px;
    padding-right: 5px;
    padding-bottom: 30px;
}
.label-filter-transaction{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    color: #4D4D4D;
}
.filter-Imagen-width{
    display: flex;
    width: 20vw;

}
.filter-container{
    display: flex;
}
.p-filter-transaction{
    display: inline-block;
    margin-left: 11px;
}
.img-filter-transaction{
    width: 24px;
    height: 22px;
    margin-left: 35px;
}
.form-filter-transaction{
    display: flex;
   flex-wrap: wrap;
}
.form-filter-transaction div div input{
    border: 0;
    border-bottom:1px solid #828282;
    width: 278px ;
    margin-right: 26px;
    outline: none;
    margin-bottom: 25px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0px;
    color: black;
    
}
.datePicker-filter-transaction div input{
    border: 0;
    width: 19.69vw ;
    margin-right: 26px;
    outline: none;
    margin-bottom: 36px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #BDBDBD;
    padding-bottom: 0px;
}
#checkbox-filter-transaction{
    height: 20px;
    width: 20px;
    margin-top: 25px;
}
.display-inline{
    display: inline-block;
    margin-left: 10px;
    width: 18.155vw;
    margin-right: 26px;
}
.search-button-transaction{
    box-sizing: border-box;
    border-radius: 50px;
    border: 2.5px solid #0098FF;
    width: 154px;
    height: 50px;
    padding-top: 5px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 7.5vw;
    margin-right: 26px;

}
#padding{
    padding-top: 27px;
}


/*** date picker**/
.kfsr3-1wGDb31hi10DLi7{
    background-color: white;
}
div .MKjsMK9DPt5gO-irDsCHa {
    background: #0098FF;
    border-radius: 20px;
    color: white;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

}
._1E-C-xua7BZJ8JvEl62fYt{
    background: #E8F6FD;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}
._1bpEiR6zdbhp8U0YrJ6U4i{
    background: #0098FF;
    border-radius: 20px;
    color: white;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

