.display-filter-transaction{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 19px;
    margin-top: 40px;
    padding-right: 5px;
    padding-bottom: 35px;
}
.label-filter-transaction{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    color: #4D4D4D;
}
.filter-Imagen-width{
    display: inline-block;
    width: 20vw;

}
.filter-container{
    display: flex;
}
.p-filter-transaction{
    display: inline-block;
    margin-left: 14px;
}
.img-filter-transaction{
    margin-left: 36px;
}
.form-filter-transaction{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.form-filter-transaction div div input{
    border: 0;
    border-bottom:1px solid #828282;
    width: 19.69vw ;
    margin-right: 26px;
    outline: none;
    margin-bottom: 36px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0px;
    color: black;
    
}
.datePicker-filter-transaction div input{
    border: 0;
    width: 19.69vw ;
    margin-right: 26px;
    outline: none;
    margin-bottom: 36px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #BDBDBD;
    padding-bottom: 0px;
}
#checkbox-filter-transaction{
    height: 20px;
    width: 20px;
    margin-top: 30px;
}
.display-inline{
    display: inline-block;
    margin-left: 10px;
    width: 18.155vw;
    margin-right: 26px;
}
.search-button-transaction{
    box-sizing: border-box;
    border-radius: 50px;
    border: 2.5px solid #0098FF;
    width: 154px;
    height: 50px;
    padding-top: 5px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 7.5vw;
    margin-right: 26px;

}
#padding{
    padding-top: 32px;
}


/*** date picker**/
.kfsr3-1wGDb31hi10DLi7{
    background-color: white;
}
div .MKjsMK9DPt5gO-irDsCHa {
    background: #0098FF;
    border-radius: 20px;
    color: white;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

}
._1E-C-xua7BZJ8JvEl62fYt{
    background: #E8F6FD;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}
._1bpEiR6zdbhp8U0YrJ6U4i{
    background: #0098FF;
    border-radius: 20px;
    color: white;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}


/****************custom select***/

.ms-choice{
    border: 0;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    width: 19.69vw;
    margin-right: 26px;
}
.ms-parent{
    width: 19.69vw !important;
    margin-right: 26px;
}
.ms-drop.bottom {
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    padding: 15px;
}
.ms-drop.bottom ul {
    overflow: hidden;
    max-height: 440px !important;
}
.ms-drop input[type="radio"], .ms-drop input[type="checkbox"]{
    width: 20px;
    height: 20px;
   
}
.ms-drop ul li label span{
    position: relative;
    margin-left: 13px;
    margin-top: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
    top: 5px;
}
.ms-choice>span.placeholder{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
}
.ms-choice>span{
    padding-left: 0px;
}







.multiple-contenido-select h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    color: #4D4D4D;
}

.multiple-input{
    border: 0;
    outline: none;
    border-bottom: 1px solid #828282;
    width: 19.69vw;
    cursor: pointer;
    background-color: white;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #BDBDBD;
}
.multiple-flotarImg{
    position: relative;
    left: -38px;
}

.multiple-opciones{
    background-color: white;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    width: 19.69vw;
    height: 410px;
    padding: 1.098vw;
    display: none;
    margin-top: 4px;
    position: absolute;
    z-index: 10;
}
.multiple-select{
    height: 55px;
}
.multiple-ContenedorInput{
    cursor: pointer;
}
.multiple-contenido-opcion{
    display: flex;
    margin-bottom: 0px;
    height: 35px;
  
  
}
.multiple-checkboxInput{
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    width: 20px !important;
    height: 20px;
    
}
.multiple-labelCheckBox{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #4D4D4D;
    // margin-left: 13px;
    // margin-top: 4px;
}

.multiple-seleccionadoInputColor::-webkit-input-placeholder {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #000000;
 }