
.titleTableTransactions { 
    border-collapse: separate; 
    border-spacing: 0px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    width: 78vw;    
    margin-top: 40px;
}
.titleTableTransactions thead tr{
    border: 1px solid #CCCCCC;
    height: 12.597916666666668vh;
}

.titleTableTransactions thead tr td  {
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #4D4D4D;
}
.titleTableTransactions tbody tr {
    background: white;
    height: 14.820833333333334vh;
}
.titleTableTransactions tbody tr td{
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #4F4F4F;
}
.titleTableTransactions tbody tr:hover{
    border-bottom: 1px solid #CCCCCC;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    background: #F2F2F2;
    mix-blend-mode: multiply;
    cursor: pointer;
}


.titleTableTransactions thead tr td:first-child{
    width: 0.928vw;
}
.titleTableTransactions thead tr td:nth-child(2){
    width: 9.833vw;
}
.titleTableTransactions thead tr td:nth-child(3){
    width: 16vw;
}
.titleTableTransactions thead tr td:nth-child(4){
    width: 16vw;
}
.titleTableTransactions thead tr td:nth-child(5){
    width: 20vw;
}
.titleTableTransactions thead tr td:nth-child(6){
    width: 7vw;
}
.img-filter-transaction{
    cursor: pointer;
}

@media(max-width:1310px){
  .titleTableTransactions{
      width: 77vw;
  }
  .titleTableTransactions thead tr td:nth-child(5){
    width: 17vw;
    }
    .titleTableTransactions thead tr td:nth-child(6){
        width: 17vw;
        }


 
}
